{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Actualités</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Actualités</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="blog-full-width">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for actualite in actualites %}
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <img class="img-responsive" src="custom/img/actualite/{{ actualite.image }}" alt="" />
                        </div>
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                {{ actualite.titre}}
                            </h2>
                            <div class="blog-meta">
                                <span>Le {{ actualite.updatedAt| localizeddate('full', 'none') }} à {{ actualite.updatedAt| date('H:i')}}</span>
                            </div>
                            <p>{{ actualite.description }}</p>
                            <a href="custom/img/actualite/{{ actualite.pdf }}">Consulter le document</a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

