{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>L'architecture</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">L'architecture</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>Le village de Lohr dans le paysage</h3>
                        <p>
                            Le village est situé à une altitude d'un peu plus de 300 mètres. Ce territoire est caractérisé par une transition entre un paysage vallonné et ouvert à l'ouest et la forêt du massif forestier à l'est. On peut lire une tradition agricole importante à travers ces espaces largement ouverts, constitués de vastes prairies, de terres cultivées, de nombreux vergers et de jardins qui entourent le village.
                        </p>
                        <p>
                            Le village se développe peu à peu, à partir du noyau originel, le long de ses axes de circulation. Les maisons alignées sont souvent mitoyennes et se serrent les unes contre les autres en ménageant des passages desservants les vergers.
                        </p>
                        <p>
                            Cette configuration porte le nom de village rue, que l'on retrouve souvent en Alsace Bossue et en Lorraine.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <h3>Les maisons</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">

                        <p>
                            Au fil du temps, les constructions, démolitions et divers aménagements ont façonné le village pour lui donner le visage que nous connaissons aujourd'hui. Le nom de la maison bloc ou Eindachhüs signifie que toutes les fonctions de la vie familiale et agricole sont sous un même toit.
                        </p>
                        <p>
                            La maison de forme rectangulaire est partagée en deux parties, privilégiant le côté pratique et fonctionnel.
                            Le rez-de-chaussée de l'habitation est légèrement surélevé et accessible depuis l'usoir par un escalier droit. L'entrée de la cave se trouve souvent en contre bas. La porte d'entrée donne sur un couloir, avec au fond la cuisine communiquant avec l'étable. À gauche ou à droite se trouve la pièce commune, Stub, et une petite chambre, l'alcôve.
                            Le four à pain est construit à l'intérieur de la maison entre la cuisine et la Stub, ce qui permet d'avoir un foyer central pour la diffusion de la chaleur. Il eut cependant être en façade pour limiter les risques d'incendies.
                        </p>
                        <p>
                            À Lohr on trouve une particularité caractérisée par une prolongation de la toiture au niveau de la partie de l'exploitation.
                            Ce qui confère au Schopf ou Schopp une pente moins accentuée. Seule présence du bois en façade, cet appenti empiète sur l'usoir, Sa fonction est de protéger l'entrée de la grange, stocker le bois de chauffage, les outils, les clapiers. L'espace créé devient une cour couverte propice au travail extérieur.
                            Cette extension qui semble se développer au XIXe siècle répond à la nécessité d'agrandir les surfaces de stockage et de remisage de l'exploitation.
                        </p>
                        <h4>Les façade</h4>
                        <p>
                            Elles retranscrivent la logique d'organisation du plan de la maison. On distingue très clairement l'habitation et les locaux agricoles. C'est l'usage et la fonction des espaces qui dictent la taille et le nombre d'ouvertures. De composition simple et ordonnée, les ouvertures s'alignent et se hiérarchisent de la cave au grenier.
                        </p>
                        <p>
                            Les ouvertures des locaux agricoles correspondent aux accès (charrette, bestiaux) et aux ventilations (baies de petites tailles, charretière).<BR>
                            Les ouvertures de l'habitation sont plus grandes, plus ornées, et comprennent des menuiseries plus évoluées.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/maisonancienne.png" alt="">
                        <h4>Les matériaux</h4>
                        <p>
                            La structure principale de l'enveloppe du bâtiment est en grès provenant des carrières présentes à proximité du village. La pierre de taille, laissée visible, est utilisée au niveau des encadrements de portes, de fenêtres, des soubassements, des chaînages d'angles, des corniches. Sa fonction est structurelle et décorative. Un travail remarquable des tailleurs de pierre caractérise les constructions.
                        </p>
                        <p>
                            Le pan de bois est mis en oeuvre pour la structure porteuse intérieure, la charpente et la partie haute de certains pignons. La couverture des toitures est en tuiles d'argile rouge. Cohabitent des tuiles dites « queue de castor» ou Bieberschwantz avec des tuiles mécaniques à emboîtement.
                        </p>
                        <p>
                            À propos des pierres qui dépassent appelées bourisses sur les pignons, certains avancent qu'il s'agit de pierres traversant le mur de part en part afin d'en assurer la cohésion alors que pour d'autres, elles servaient à poser les verres de schnaps au fur et à mesure de l'avancement de la construction
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Les encadrements en grès</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">

                        <img src="custom/img/encadrement1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le village de Lohr compte, aujourd'hui encore, plus de 80 maisons édifiées avant 1870. Presque toutes ces maisons conservent leur encadrement de porte en grès dont le plus ancien, utilisé en réemploi dans les dépendances du n" 2 rue de Petersbach, date de 1619. Mais les encadrements visibles de la rue sont beaucoup plus récents: réalisés entre 1753 et 1866 ils se partagent entre deux types très différents.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/encadrement2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            Les encadrements moulurés
                        </h3>
                        <p>
                            Le type le plus ancien, d'inspiration baroque, fait appel à la moulure comme décor principal.
                        </p>
                        <p>
                            Au 10 rue de Petersbach une navette, emblème des tisserands, remplace les initiales des commanditaires; au 9 place de l'Église la mention lm 15 ten iar, sous-entendu der Republik, prend la place du millésime 1806 gravé par ailleurs sur la traverse d'imposte.
                        </p>
                        <p>
                            Ce type d'encadrement se ramifie en variantes différenciées, selon les préférences et les moyens des commanditaires, par :
                        </p>
                        <ul>
                            <li>
                                Le profil de la moulure plus ou moins complexe
                            </li>
                            <li>
                                La présence ou l'absence d'une traverse d'imposte et/ou d'une corniche droite ou cintrée
                            </li>
                            <li>
                                La richesse du décor...
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            Les encadrements néoclassiques
                        </h3>
                        <p>
                            Le nouveau style, qui fait son apparition à Lohr en 1824, associe les thèmes éprouvés du vocabulaire néoclassique et de l'art populaire à des thèmes inspirés par la nature ou empruntés à l'art funéraire.
                        </p>
                        <p>
                            Foisonnant, le décor envahit toute la surface disponible de l'encadrement de porte. Les exemplaires les plus anciens encadrent l'entrée des 3, 14 et 34 rue Principale, 13 rue d'Ottwiller, 9 rue de Petersbach. Une autre variante, caractérisée par le tracé en accolade de son linteau, trouve également des commanditaires locaux aux 2 et 34 rue de Petersbach et au 8 rue d'Ottwiller.
                        </p>
                        <p>
                            Avec ces encadrements d'inspiration néoclassique et teintés de romantisme, dont les exemplaires les plus monumentaux expriment la réussite économique et sociale d'une véritable bourgeoisie rurale, manifestement bien représentée à Lohr, l'Alsace Bossue possède un style qui lui est propre et qui contribue à lui donner sa personnalité.                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/heiligemuehle.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/maisonrecente.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

