{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>ASSOCIATIONS</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Associations</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                {% for association in associations %}
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-card spring-fever">
                            <div class="title-content">
                                <h3>{{ association.nom }}</h3>
                            </div>
                            <div class="card-info">
                                {{ association.description }}
                            </div>
                            <div class="utility-info">
                                <ul class="utility-list">
                                    <li><span class="licon icon-like">{{ association.contact }}</span></li>
                                    <li><span class="licon icon-com"></span>{{ association.email }}</li>
                                    <li><span class="licon icon-dat"></span>{{ association.telephone }}</li>
                                </ul>
                            </div>
                            <div class="gradient-overlay"></div>
                            <div class="color-overlay"></div>
                        </div><!-- /.blog-card -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

