{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>La bibilothèque</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">La bibilothèque</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/logo-bibliotheque.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            La bibliothèque "La ruche de Lara" a ouvert ses portes. Vous pouvez emprunter à la bibliothèque des livres et des journaux, mais aussi consulter sur place dictionnaires et ouvrages périodiques. Une équipe est à votre disposition pour vous aider et vous conseiller
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>Information utiles</h3>
                        <p>Adresse : 11, rue de Petersbach - 67290 LOHR
                            </br>
                            Tel : 03 88 00 14 12
                            </br>
                            Mail : bibliotheque-de-lohr@orange.fr
                            </br>
                            Facebook : Bibliothèque de Lohr La Ruche de Lara </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>Horraire d'ouverture</h3>
                        <p>
                            Lundi : 16h - 18h
                            </br>
                            Mercredi : 15h - 17h
                            </br>
                            Samedi : 15h - 17h
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>Services et animations</h3>
                        <ul>
                            <li>Accueil de classes</li>
                            <li>Expositions, animation</li>
                            <li>Consultation du catalogue en ligne de la BDBR (Bibliothèque départementale du Bas-Rhin)</li>
                            <li>Navette : réservation de documents du réseau BDBR</li>
                            <li>Le 25/10/2017 : Présence d'une conteuse à la Bibliothèque. Renseignements au 03.88.00.14.12</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/bibliotheque.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->
    <section class="about-feature clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    <h2>
                        Ouvrages disponibles
                    </h2>
                    <ul>
                        <li>Livres : romans, documentaires, biographies, albums, livres allemands, poésies, contes, mangas, nouveautés...</li>
                        <li>Périodiques et presse, pour adultes et jeunes : documents empruntables sauf dernier numéro à consulter sur place</li>
                        <li>Consultation du catalogue en ligne de la BDBR (Bibliothèque départementale du Bas-Rhin)</li>
                        <li>Vous pouvez aussi consulter sur place : dictionnaires, certains ouvrages et périodiques</li>
                    </ul>
                </br>
                </div>
                <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                    <h2 class="item_title">
                        Modalités d'inscription et de prêt
                    </h2>
                        <p>L'adhésion est valable un an à compter de la date d'inscription. Vous pouvez emprunter 4 livres + 1 revue pour une durée de 3 semaines. En cas de retard : prévenir par téléphone ou par courriel.</p>
                    <p>L'adhésion est grauite pour les adultes ainsi que les enfants</p>
                </div>
                <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                    <h2 class="item_title">
                        Conditions du service
                    </h2>
                    <ul>
                        <li>La présentation de la carte d'adhérent est obligatoire pour tout emprunt.</li>
                        <li>Les enfants de moins de 7 ans doivent être accompagnés par un adulte.</li>
                        <li>Animaux non autorisés dans les locaux de la bibliothèque</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

