{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Le conseil municipal</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Conseil municipal</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="team">
        <div class="container">
            <div class="row">
                <h2 class="subtitle text-center">Les 11 membres du conseil</h2>
                {% set delay = 0 %}
                {% for membre in conseil %}
                    {% set delay = delay + 100 %}
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ delay }}ms">
                        <div class="team-img">
                            {% if membre.image is null %}
                                <img src="custom/img/conseil/user.jpg" class="team-pic" alt="">
                            {% else %}
                                <img src="custom/img/conseil/{{ membre.image }}" class="team-pic" alt="">
                            {% endif %}
                        </div>
                        <h3 class="team_name">{{ membre.nom }}</h3>
                        <p class="team_designation">{{ membre.fonction }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h2 class="subtitle text-center">
                            Les dernières délibérations
                        </h2>

                    </div>
                </div>
                {% for delib in delibs %}
                <div class="col-md-4 col-sm-4">
                    <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://lohr.alsace/custom/pdf/{{ delib.delibName }}" height="400">
                <p>Du mal à vsiualiser le fichier ? <a href="custom/pdf/{{ delib.delibName }}">Cliquer ici !</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

