{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Contact</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Contact</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Nous contacter</h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            Pour toute demande vous pouvez nous contacter grâce à ce formulaire !
                        </p>
                        <div class="contact-form">
                        {{ form_start(form, {'attr': {'id': 'contact-form','role' : 'form'}}) }}
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                            {{ form_widget(form.subject) }}
                            {{ form_errors(form.subject) }}
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2">
                            {{ form_widget(form.message) }}
                            {{ form_errors(form.message) }}
                        </div>
                            <div class="g-recaptcha form-group wow fadeInDown" data-sitekey="6LeFpGIUAAAAAO_-qt5Gc7LnxeNzaqNT7gmLzb1v"></div>
                        <div style="display:none">
                            {{ form_rest(form) }}
                        </div>

                            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Envoyer">
                            </div>

                        {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-area">
                        <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Nous trouver</h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        </p>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:EiQxIFJ1ZSBQcmluY2lwYWxlLCA2NzI5MCBMb2hyLCBGcmFuY2U&key=AIzaSyARtqPQT-9P1QJSOzIMdxPpovLXuXz07YA" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row address-details">
                <div class="col-md-3">
                    <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <i class="ion-ios-calendar-outline"></i>
                        <h5>Mardi : 9h00–12h00 <br>Jeudi : 8h00–11h00 <br>Vendredi : 14h00–20h00</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <i class="ion-ios-location-outline"></i>
                        <h5>1 rue Principale 67290 LOHR</h5>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <i class="ion-ios-email-outline"></i>
                        <h5>mairie@lohr.alsace</h5>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <i class="ion-ios-telephone-outline"></i>
                        <h5>03.88.00.62.72</h5>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

