{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>ECOLE ET PERISCOLAIRE</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">ECOLE ET PERISCOLAIRE</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            VIE SCOLAIRE
                        </h3>
                        <h4>
                            Orgainisation de la vie scolaire
                        </h4>
                        <p>
                            Lohr fait partie du regroupement pédagogique Lohr - Siewiller - Ottwiller et adhère au Périscolaire de Drulingen qui compte 13 communes.
                            </br>
                            Les classes sont répartie sur les différentes communes de la facon suyivante :
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Classe</th>
                                <th>Coordonées</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>LOHR</th>
                                <td>Maternelle (Petits et moyens)
                                    </BR>
                                    Enseignante :Mme Anne-Christine KREITMAYER
                                    </BR>
                                    Assistante : Mme Isabelle BUCHI
                                    </BR>
                                    </BR>
                                    CE2-CM1
                                    </BR>
                                    Enseignante :Mme Geneviève HUSER
                                </td>
                                <td>Adresse : 1, rue de Graufthal - 67290 LOHR
                                    </BR>
                                    Tel : 03 88 00 69 83
                                    </BR>
                                    </BR>
                                    </BR>
                                    Adresse : (Mairie) 1, rue principale - 67290 LOHR
                                    </BR>
                                    Tel : 03 88 00 63 53
                                </td>
                            </tr>
                            <tr>
                                <th>Siewiller</th>
                                <td>Maternelle grande section + CP
                                    </BR>
                                    Enseignante : Mme Carine MUNICH
                                    </BR>
                                    </BR>
                                    CM1 - CM2
                                    Enseignante : Mme Nadia KRIEGER
                                <td>45 rue des Eglises 67320 SIEWILLER
                                    </BR>
                                    Tel : 03 88 00 75 51
                                </td>
                            </tr>
                            <tr>
                                <th>Ottwiller</th>
                                <td>CP - CE1
                                    </BR>
                                    Enseignante : Mme Sarah FREUD</td>
                                <td>Adresse : 22, rue des Tilleuls - 67320 OTTWILLER
                                    </BR>
                                    Tel : 03 88 00 69 43
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h4>
                            Orgainisation de la vie scolaire
                        </h4>
                        <p>La mairie et l'école primaire sont abritées sous le même toit. L'école maternelle est aménagée en 1964 dans un bâtiment situé rue de Graufthal. Une aire de jeux est installée à côté de l'école maternelle. Depuis la rentrée de septembre 1983, l'école de Lohr fonctionne en regroupement pédagogique avec celle d'Ottwiller. En 1998, il a été étendu à la commune de Siewiller. Lohr conserve 2 classes, Ottwiller une et Siewiller deux.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/ruebus.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h4>
                            La maison d'école
                        </h4>
                        <p>
                            En 1827, le maître n'a pas pu reprendre ses cours faute d'un local disponible car la maison d'école (peut-être située derrière l'église) est très délabrée et les parents menacent de ne pas y envoyer leurs enfants. Cette situation n'est toujours pas réglée en 1832 puisque le conseil municipal considère, le 24 juin, que la commune n'a pas les ressources suffisantes pour la réparer et qu'il vaudrait mieux la reconstruire. Cette maison d'école, qui servait autrefois d'habitation au vacher et au porcher communaux, est dans un état de délabrement total.
                        </p>
                        <p>Enfin, le 30 août 1853, le conseil municipal prépare l'adjudication de la vieille maison d'école, évaluée à 500 francs par l'entrepreneur Engel de Petersbach. Jugeant cette mise à prix trop élevée, vu l'état de vétusté du bâtiment, le conseil décide de la ramener à 200 francs. Deux amateurs se présentent et l'un d'eux l'achète pour 265 francs. Le conseil municipal répondra plus tard au Sous-Préfet, qui demande des explications, que le sieur Engel n'avait qu'à se porter adjudicataire pour le prix auquel il avait estimé la maison! En décembre, la nouvelle école est sans doute déjà en service puisque le vieux poêle est vendu à Seligmann Lämmel de Struth contre la fourniture d'un nouveau tuyau de poêle.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    </BR>
                        <p>
                            Une souscription est ouverte pour trouver les fonds nécessaires à sa reconstruction. Le conseil municipal examine un projet pour 9 200 francs en 1845. La souscription volontaire n'ayant rapporté que 3 618 francs, il décide de réutiliser les matériaux de démolition de l'ancienne école et de prélever les pierres dont on aura besoin dans les carrières de la commune pour réduire le coût.
                        </p>
                        <img src="custom/img/ecole.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

