{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>L’ÉGLISE</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">L’ÉGLISE</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            L'église protestante actuelle remplace un monument gothique qui était flanqué d'un clocher roman rond dont on dit qu'il servait déjà de mirador aux Romains.
                        </p>
                        <p>
                        L'épaisseur des murs du clocher était de 1,50 m. Lors de sa démolition, la partie inférieure d'une stèle a été découverte.
                        On y distingue un personnage masculin vêtu d'une tunique, assis sur un siège à dossier et placé à la droite d'une divinité féminine célébrant un sacrifice.
                        </p>
                        <p>
                            L'église actuelle a été officiellement inaugurée le 20 octobre 1878.
                        </p>
                        <p>
                            Le monument aux morts de la commune y est installé.
                        </p>
                        <p>
                            Le cimetière a été inauguré le 15 novembre 1858 sur un terrain aménagé à l'extérieur du village suite au constat de l'exigüité du cimetière situé à l'intérieur du village.
                        </p>
                        <p>
                            Il a fait l'objet d'agrandissement successifs en 1888 et 1924, date qui figure sur une entrée.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/eglise.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/cimetiere.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En 1785, les fidèles entrent à l'église par un porche en bois et accèdent à l'étroite nef gothique en passant par le clocher rond aux murs très épais. L'église est entourée d'un petit cimetière. Les deux étages inférieurs de la tour ont été attribués à l'époque romane (x(, XIIe siècle), et l'étage du beffroi à un remaniement du XVIIIe siècle. La nef datait de l'époque gothique mais avait certainement été remaniée à plusieurs reprises. Sur le plan de la nouvelle église, l'architecte a reporté en pointillé le plan de l'église primitive. On y distingue le plan d'une longue nef étroite étayée à l'Est par des contreforts ainsi que le clocher rond .
                        </p>
                        <p>
                            Le 26 novembre 1874, le conseil municipal approuve le projet de construction d'une nouvelle église à la place de l'ancienne, devenue trop vétuste et trop exiguë pour accueillir tous les paroissiens. Elle sera en pierres de taille et son clocher, recouvert d'ardoises abritera la modeste cloche existante, Le pasteur Burger prend une part active à la conception de l'édifice. Une collecte organisée dans les communes des alentours permet de réunir en trois mois la somme de 8 914 marks, complétée par une subvention de 4 350 marks octroyée par le conseil d'arrondissement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/chariot.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Les 153 familles luthériennes de Lohr font don de 1519 marks et s'engagent pour des corvées d'une valeur de 11808 marks. En février 1875, le conseil municipal approuve les plans de l'architecte d'arrondissement Louis Fürst (Kreisbaumeister) mais demande que la hauteur du clocher de l'église - du cadran de l'horloge jusqu'à la boule - soit réduite de deux mètres. La hauteur sera donc de 33 mètres. Le 7 juin 1876, l'architecte réceptionne les soumissions des entreprises; le coût estimatif est alors de 27 800 marks or. Le 18 juillet, le dernier culte est célébré dans la vieille église devant une assemblée si nombreuse qu'elle a peine à la contenir. Le 20 juillet, le chantier de démolition commence
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Après avoir été une filiale de la paroisse de Petersbach de 1587 à 1595, la paroisse de Lohr a été créée en 1620 puis rattachée, avec Petersbach, à La Petite Pierre en 1635.
                        </p>
                        <p>
                            À partir de 1721, elle a eu en charge quatre filiales: Petersbach, Schoenbourg, Graufthal et Eschbourg. En 1838, elle en perd trois pour ne conserver que celle de Petersbach.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/cimetiere2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

