<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="background-color:#fff;width:620px;font-family:Open-sans,sans-serif;color:#575757;font-size:14px;line-height:18px;margin:auto">
    <td style= "background-color:#f5f5f5" bgcolor="#ececec" width="572" valign="top">
    <table cellspacing="0" cellpadding="0" style="border:0;border-collapse:collapse">
        <tbody>
        <tr>
            <td class="m_-5855624242854788776space" style="width:20px;padding:7px 0">&nbsp;
            </td>
                <td align="center" style="padding:7px 0">
                    <table cellspacing="0" cellpadding="0" style="border:0;border-collapse:collapse">
                        <tbody>
                            <tr>
                                <table cellspacing="0" cellpadding="0" style="border:0;border-collapse:collapse">
                                    <tbody>

                                        <tr>
                                            <td align="center" class="m_-5855624242854788776logo">
                                                <img src="https://upload.wikimedia.org/wikipedia/fr/9/9f/Musee_du_Louvre_1992_logo.png"  alt="Louvre">

                                                <h2>Madame, Monsieur, </h2>

                                                <p>
                                                    Vous avez récemment effectué une commande sur la billeterie du Louvre.
                                                    Vous retrouverez ci-dessous le récapitulatif de votre commande qui fait également foi de billet d'entrée.
                                                </p>

                                                <hr>

                                                <tr>
                                                    <td class="m_8820206774472068481box">
                                                    <span style="text-align:center">
                                                        <table align="center" cellspacing="0" cellpadding="0" style="text-align:center">
                                                            <tbody><tr>
                                                                <td width="10" style="padding:7px 0">&nbsp;</td>
                                                                <td style="padding:7px 0">
                                                                    <br>
                                                                    <span class="m_8820206774472068481title" style="font-family:Oswald,arial,sans-serif;font-weight:500;font-size:18px;text-transform:uppercase;line-height:33px;color:#ef9e21;line-height:22px">Détail de la commande</span><br><br>
                                                                    <br><br>
                                                                    <img src="https://ci4.googleusercontent.com/proxy/94eXogSwHnv2yx7Uo1AODGnL0sMZe7rL8DZlg1vCvI2p_QKFRUoeEO1pncdgJxKtCcJhMl1qLmH_NNY-Agqs_tf6gBEjoxNT-AMxIDrdDo6HTwFvrGNaq7muqsuCRSmHgd42=s0-d-e1-ft#https://www.lepetitvapoteur.com/themes/vapoteur/img/newsletter/separation.jpg" alt="" style="margin:5px 0" class="CToWUd"><br><br>
                                                                </td>
                                                                <td width="10" style="padding:7px 0">&nbsp;</td>
                                                            </tr>
                                                        </tbody></table>
                                                    </span>
                                                    </td>
                                                </tr>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </td>
</div>

</body>
</html>
