{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Evenement</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Evenement</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="ms">
                        <div class="img-wrapper">
                            <img src={{ asset('custom/img/colorFont1.jpg')}} class="img-responsive" alt="image fond evenement" >
                            <div class="centered">{{ event.nom }}</div>
                        </div>
                        <figcaption>
                            <h4>
                                Le {{ event.date| localizeddate('full', 'none') }} à partir de {{ event.date| date('H:i')}}
                                </h4>
                            <p><i class="ion-ios-location"></i><BR>{{ event.lieux.nom }} <BR>{{ event.lieux.adresse }}</p>
                        </figcaption>
                    </figure>
                    <h4>Présentation</h4>
                    <p>
                        {{ event.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

