{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>La géographie</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">La géographie</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <h3>Situation géographique</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            La commune se trouve entre Drulingen (5 km) et La Petite Pierre (7 km), deux des trois chefs-lieux de cantons d'Alsace Bossue. Elle se situe au cœur d'un triangle formé par les villes de Saverne (20 km), Sarrebourg (30 km) et Sarreguemines (40 km) et à environ 70 kilomètres au Nord-Ouest de Strasbourg. La commune se situe à proximité d'infrastructures de transports structurantes : – 15 km des échangeurs autoroutiers de Phalsbourg et Sarre-Union sur l'A4, – 7 km de la gare de Tieffenbach sur la ligne ferroviaire Strasbourg-Sarreguemines-Sarrebrück.
                        </BR>
                            Les communes limitrophes sont :
                        </p>
                        <ul>
                            <li>
                                Ottwiller
                            </li>
                            <li>
                                Petersbach
                            </li>
                            <li>
                                La Petite Pierre
                            </li>
                            <li>
                                Eschbourg
                            </li>
                            <li>
                                Schoenbourg
                            </li>
                            <li>
                                Bust
                            </li>
                            <li>
                                Siewiller
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <h3>Rattachement administratif et intercommunal</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            La commune de Lohr fait partie du canton d'Ingwiller lequel est rattaché à l’arrondissement de Saverne. La commune adhère à la Communauté de Communes du Pays de La Petite Pierre. Cette intercommunalité compte, depuis le 31 décembre 1992, 19 communes membres.
                            </BR>
                            La commune de Lohr adhère également au :
                        </p>
                        <ul>
                            <li>
                                SIVOM de la Vallée de l'Isch (assainissement)
                            </li>
                            <li>
                                SIVU des eaux de Drulingen et environs (alimentation en eau potable)
                            </li>
                            <li>
                                SIVU d'électrification de l'Alsace Bossue
                            </li>
                            <li>
                                SIVU du Collège de Drulingen
                            </li>
                            <li>
                                Syndicat Mixte pour la collecte des ordures ménagè du secteur de Haguenau-Saverne (SMITOM)
                            </li>
                            <li>
                                Syndicat Mixte de Parc Naturel Règional des Vosges du Nord (SYCOPARC))
                            </li>
                            <li>
                                SIVOM de l'Ischthal (Restauration de l'Isch)
                            </li>
                        </ul>
                        <p>
                            Les équipements communaux sont tous implantés au cœur du village marquant ainsi une véritable centralité.
                            <BR>
                            La commune est dotée d'une salle polyvalente qui résulte de la transformation d'un hangar agricole du centre du village ; elle a été inaugurée en 1994. Elle dispose également d'une maison des associations dans l'ancien bâtiment de la Croix Bleue ; y sont associés un atelier municipal et un local multimédia.
                            <BR>
                            Le réseau viaire du village de Lohr est organisé autour des routes départementales 122 et 107 qui se croisent au centre du village. Il se développe ensuite en antennes à partir de ces axes principaux.
                            <BR>
                            Les différentes annexes sont desservies par la route forestière du Rehbach qui relie Petersbach à Graufthal.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>L'environnement</h3>
            <h4>Paysage</h4>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le ban communal de Lohr est marqué par la topographie ; en effet il s'inscrit en limite entre le massif des Vosges gréseuses à l'Est et le plateau lorrain calcaire au Nord-Ouest. Ce dernier présente des pentes douces alors que le massif vosgien est entaillé par le vallon du Rehbach dont les versants sont très abrupts. Le village s'est implanté à l'extrémité Nord-Ouest du ban communal dans la vallée de l'Isch.
                        </p>
                        <p>
                            Le point le plus bas : altitude de 217 m. Le point culminant : 383 m.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/topographie.jpg" alt="topographie">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/topographiepentes.jpg" alt="topographie pentes">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>La forêt</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le ban communal de Lohr couvre une superficie de 1 041 ha dont plus de 580 ha de forêt domaniale qui couvre l'Est du territoire communal. Dans les Vosges du Nord, la forêt est naturellement une hêtraie dans laquelle les forestiers ont introduit des essences qui ne sont pas originaires de la région, comme l'épicéa, le mélèze, le douglas ou le chêne rouge et développé des essences locales comme le pin sylvestre et le chêne pour des raisons économiques.
                        </p>
                        <p>
                            La forêt constitue un refuge pour de nombreuses espèces, des oiseaux et des mammifères tels le cerf, le sanglier, le chevreuil ou encore le chat forestier.
                            La partie Ouest est quant à elle dédiée aux espaces agricoles et prairiaux. Les superficies exploitées par les agriculteurs y représentent 286 ha réparties en terres labourables et zones fourragères.
                            Le village bénéficie encore d'une ceinture de vergers hautes tiges qui constituent des biotopes importants notamment pour les oiseaux.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Les espaces naturels remarquables</h3>
            <h4>Réserve de biosphère</h4>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            La commune de Lohr s'inscrit en zone centrale de la réserve de biosphère des Vosges du Nord.
                        </BR>
                            La réserve de biosphère “Vosges du Nord-Pfälzerwald” a été reconnue en décembre 1998 par l’UNESCO, en application de son programme “Homme et Biosphère”.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

