{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>L'hisoire</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">L'histoire</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <h3>L'Histoire de Lohr au cours des siècles</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Lohr est un village très ancien, de nombreuses trouvailles néolithiques ou romaines ainsi que des tombes mérovingiennes en attestent.
                        </BR>
                            Un établissement antique jalonnant la voie qui reliait la plaine d'Alsace à la vallée de la Sarre a précédé le village actuel, on suppose qu'il se trouvait entre le centre du village et le cimetière.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le nom de LARA, qui devient LARE en 1335, apparaît en l'an 847 dans une charte de l'abbaye de Wissembourg. Pour certains, Lara signifierait "clairière" mais d'autres y voient une origine celte signifiant "pierre". La commune de Lohr fait partie du Comté de Lichtenberg jusqu'en 1388, date à laquelle un quart du village et des forêts est cédé à celui de Sarrewerden.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            L'abbaye de Neuwiller y possède également des terres, le domaine de Petersgut, et perçoit la dîme.</BR>
                            En 1503, les comtes palatins achètent les biens et les droits de l'abbaye de Neuwiller pour les réunir au comté de La Petite Pierre. Pendant la guerre de Trente Ans (1618-1648), la région fut dévastée par les Croates notamment ; le dernier habitant de Lohr est enterré le 1er mai 1637. Le village se repeuple à partir de 1640.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/cartenaudin1728.jpg" alt="carte naudini de 1728">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/cartecassini1780.jpg" alt="carte cassini de 1780">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Lohr est, en 1775, une des 25 communes du Comté de La Petite Pierre (Grafschaft Lützelstein). Elle est également le siège d'une prévôté qui comprend aussi Petersbach, Struth et Schoenbourg.
                            </BR>
                            Les cartes établies au cours du 18ème siècle témoignent de l'évolution du nom de la commun.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Le musée de Saverne abrite certaines découvertes</h3>
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Fragment de stèle du III" siècle après J.C représentant peut-être les jambes de la déesse Junon et un personnage féminin assis derrière une table. Cette stèle a été découverte en 1876 dans un des murs de la nef lors de la destruction de l'ancienne église. Hauteur: 0,57 m; largeur: 0,52 m; épaisseur: 0,19 m.
                        </p>
                        <p>
                            Deux stèles dont une est datée du milieu du IIe siècle ainsi qu'une plaque-boucle en fer damasquinée d'argent. Une agrafe, 5 fragments de couteaux et un clou ont également été découverts dans des tombes. Un établissement antique jalonnant la voie qui reliait la plaine d'Alsace à la vallée de la Sarre a précédé le village actuel, on suppose qu'il se trouvait entre le village et le cimetière.                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/fragmentstele.jpg" alt="fragment stèle">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Lohr en 1952</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            De tous les lieux du pays de La petite Pierre, Lohr compte parmi les plus anciens. Des tombes mérovingiennes ainsi que des découverts datant de l'époque romaine en attestent.
                        </p>
                        <p>
                            L'abbaye (Kloster) de Wissembourg y possédait des biens, plus tard de Neuwiller. Hanau-Lichtenberg échangea en 1544 le village avec le Palatinat qui, en 1503, avait déjà acquis les biens de l'abbaye en échange de Schalkendorf.
                        </p>
                        <p>
                            Depuis, le village appartient à la Seigneurie de La Petite Pierre. En 1752, 25 ménages habitent Lohr. La dîme est partagée à parts égales entre le comté et le pasteur de la localité. Le pasteur touchait également jusqu'en 1570 la moitié de la dîme des bans d'Ellenbach et de Siewiller, cette dernière étant jusque-là une filiale de Lohr.
                        </p>
                        <p>
                            Siewiller avait été auparavant retiré aux Nassau à cause des querelles religieuses. C'est la raison pour laquelle l'église de Lohr a pourvu durant quelques années aux besoins du maître d'école de La Petite Pierre qui a ensuite, à titre de gratification, touché la dîme à la place du pasteur.
                        </p>
                        <p>
                            Les paysages étaient très différents de ce qu'ils sont aujourd'hui si l'on en juge d'après les forêts existantes sur le ban communal en 1572.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Une forêt appelée Strut située entre Lohr et Schönberg. Elle touche d'un côté la Weckenmuehle et de l'autre le Pfaffenberg.
                        </p>
                        <p>
                            Une forêt nommée Pfaffenberg d'environ 100 acres. Elle s'étend de la Strut vers la vallée en direction du ban communal de Bust (Bischter ban).
                        </p>
                        <p>
                            Un petit-bois appelé Strungkhag touche au Bohrer Feld de l'autre côté au bois appelé Dietsch, où il y a des champs à essarter.
                        </p>
                        <p>
                            Un petit-bois de Beitbösch à côté de Strungkhag touche la Dietsch.
                        </p>
                        <p>
                            Un petit-bois nommé Dietsch d'environ 100 acres touche la route de La Petite Pierre et descend de l'autre côté pour remonter ce vallon jusqu'au Daselstein.
                        </p>
                        <p>
                            Dans les parties boisées, les habitants ont le droit de chasse (Weidrecht). La Weckenmuehle faisait déjà partie du ban communal. Le meunier Claus Beck de Hambach payait chaque année à la Saint-Martin le fermage (Pacht) 2 poules, 12 Viertel de céréales et 2 Indianische Hühner, qu'on appellerait aujourd'hui Welschhüher, importés d'Amérique fraîchement découverte et très appréciées des fins gourmets. La comtesse de La Petite Pierre élevait elle-même, personnellement, autrefois ses volailles.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Lohr en 1662</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Avant la guerre de 30 ans, Lohr comptait plus de 30 familles dont plus d'un tiers a perdu la vie durant ces longues années de guerre. Mais, comparé à d'autres villages qui ont perdu toute leur population, Lohr s'en sortait plutôt bien. Certains champs appartenant à des familles disparues étaient toujours vides et sans propriétaires en 1662.
                        </BR>
                            Quand il y avait des héritiers, ceux- ci ont cherché à valoriser leur bien. En 1662, il n'y avait pas encore de familles étrangères à Lohr.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Lohr et le temps des seigneurs</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Lohr est, en 1775, une communes du Comté de La Petite Pierre (Grafschaft Lürzelsrein) dont le seigneur est Charles Auguste Christian de Birkenfeld-Soulzbach, plus connu sous son titre de prince régnant Charles II duc de Deux Ponts (Zweybrücken).
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Ce comte palatin (Pfalzgraf) est le dernier seigneur de La Petite Pierre (1775-1795). Il est vassal du roi de France Louis XVI et son administration est contrainte d'appliquer les directives de l'intendance royale. Il réside généralement à Zweibrücken car son château de La Petite Pierre n'est plus à son goût.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Ce comte palatin (Pfalzgraf) est le dernier seigneur de La Petite Pierre (1775-1795). Il est vassal du roi de France Louis XVI et son administration est contrainte d'appliquer les directives de l'intendance royale. Il réside généralement à Zweibrücken car son château de La Petite Pierre n'est plus à son goût.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>La monnaie</h3>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Après le rattachement au Royaume de Louis XVI l'argent de France – Florins, livres, sols et deniers tournois – est le seul qui a cours dans le bailliage de La Petite Pierre. La livre est certes ici, comme dans le reste du royaume, l'unité monétaire de référence mais les transactions se font en florins (Gulden) qui valent deux livres ; un florin vaut 10 sols (Schillings), un sol 12 deniers (Pfennig) et un Pfennig 2 heller. Les francs et les centimes apparaissent après la Révolution.
                        </p>
                        <p>
                            Après l'annexion de 1870, le franc restera en usage jusqu'en 1876. </BR>
                            En février 1915, les Lohrois sont invités à déclarer puis à déposer leurs marks dans les mairies. Ils reçoivent en échange du papier monnaie.</BR>
                            Le 1er janvier 2002, l'euro remplace le franc.
                        </p>
                        <p>
                            Les taxes et les impôts payés par les Lohrois sont recouvrés par Hans Adam Helmstetter le Vieux de Petersbach qui, avant de se voir accorder cette charge, a dû déposer une caution auprès du receveur trésorier seigneurial. L'argent collecté est conservé à la recette seigneuriale (Rentmeisterey) de La Petite Pierre sous la garde du sergent seigneurial qui en assure aussi le transport à Zweybrücken et à Strasbourg. Les perceptions en nature (Naturalien Einnahmen), en particulier la dîme (der Zehent), partagée par moitié avec la fabrique ecclésiastique (Kirchenschafney) sont acheminées vers les magasins et celliers respectifs (Speicher und Keller).
                        </p>
                        <p>
                            On ignore si l'ordonnance administrative villageoise (Löhrer Bürgerordnung) du 24 mars 1669 est toujours en vigueur telle qu'elle a été octroyée aux Lohrois par leur seigneur de l'époque. Il en coûtait alors quatre Gulden pour acquérir à vie le droit de bourgeoisie (Bürgerrecht). Ce droit d'entrée était réduit de moitié pour un fils de bourgeois.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/archeomonnaie.png" alt="pièce de monnaie">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En 1783, un Lohrois est délégué, avec les représentants d'autres communes, à La Petite Pierre pour convenir de l'attitude vis-à-vis des nouvelles lettres patentes consenties par le roi au duc de Deux-Ponts. Ils protestent surtout contre l'alourdissement de certains impôts : la taxe sur les transactions, le droit de lot et vente pour les meubles et les immeubles (Pfundzoll), le droit de corvée (Frondgeld), l'impôt seigneurial et la petite dîme (Kleiner Zehent). L'intendant d'Alsace nommera Antoine d'Evert commissaire pour entendre les avis des communes concernées et les autoriser à engager en suspens jusqu'à la révolution.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Après la Révolution de 1789</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le 12 juin 1790, un décret fait obligation à toutes les communes de former une garde nationale.
                        </p>
                        <p>
                            Tous les hommes valides de moins de 45 ans doivent en faire partie. Sa mission est d'assurer un service de police locale (contrôler les vagabonds...).
                        </p>
                        <p>
                            Le 22 septembre 1792, la « République Une et Indivisible » est proclamée. C'est le début d'une nouvelle ère et... d'un nouveau calendrie
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En février 1793, la Convention décrète la réquisition de 300 000 gardes nationaux fournis par tirage au sort ou volontariat. Le 22 août, le service militaire devient obligatoire pour tous les célibataires et les veufs sans enfants de 18 à 25 ans dans les deux départements alsaciens.
                        </p>
                        <p>
                            Les 11 et 12 septembre, le tocsin sonne pendant 48 heures appelant tous les citoyens pouvant porter une arme à se rendre sans tarder au camp de Breitenstein près de Goetzenbruck, à 5 heures de marche de Lohr, suite au conflit opposant la France à l'Autriche. En octobre, tout le canton grouille de monde.                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Un certain bataillon de Haute- Marne laissera un fort mauvais souvenir aux villageois (ils burent tout le vin, prirent toute marchandise et forcèrent les villageois d'accepter leurs assignats).
                        </p>
                        <p>
                            En novembre, la municipalité décide d'octroyer 12 livres à tout Lohrois requis pour défendre la patrie en danger.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Le temps des conscrits</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/conscrits.jpg" alt="les conscrits">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le 5 septembre 1798, la conscription forcée des classes d'âge des 20 à 25 ans remplace la réquisition (d'où le terme « conscrit »).
                        </p>
                        <p>
                            En décrétant que « tout Français est soldat et se doit de défendre la patrie », elle marque la naissance du premier service militaire vraiment national.
                        </p>
                        <p>
                            Chaque année, les jeunes gens de plus de 20 ans déclarés aptes (à l'exception des mariés) sont inscrits par les municipalités sur une liste nationale où ils resteront jusqu'à l'âge de 25 ans.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>L'avènement de Napoléon 1er</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En décembre 1804, Napoléon 1er est couronné empereur. L'armée napoléonienne, la grande Armée, se construit à partir de 1803 et sa politique de conquête commence en 1805. En 1809, le tirage au sort des conscrits a lieu à Bouxwiller.
                        </p>
                        <p>
                            En 1813, les désertions se multiplient et il faut débourser jusqu'à 500 louis d'or pour payer un remplaçant car il n'y a pratiquement plus de volontaires dans le canton.
                        </p>
                        <p>
                            Le canton de La Petite Pierre doit fournir à l'armée 5 chevaux sur les 250 réquisitionnés dans le département pour 300 francs par tête, prix qui monte à mille francs pour un cheval équipé.
                        </p>
                        <p>
                            La mobilisation générale est proclamée le 22 octobre 1813. Tous les hommes de 20 à 40 ans, même les réformés, doivent se mettre en route. Le presbytère est occupé par intermittence par des troupes de passage. Napoléon abdique en 1814, la conscription est abolie, l'armée ne recrute plus que par engagement volontaire.
                        </BR>
                            En octobre 1815, les Autrichiens quittent Lohr.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Le retour de la monarchie</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En 1818, la loi Gouvion-Saint-Cyr prévoit la durée du service militaire à 6 ans dans l'infanterie et 8 ans dans les autres armes.
                        </p>
                        <p>
                            En mars 1820, après l'assassinat du Duc de Berry, les six membres présents du Conseil municipal expriment leur attachement à la famille royale et, le 15 octobre, les Lohrois fêtent la naissance du duc de Bordeaux.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En 1830, Charles X abdique en faveur de son petit-fils, le Duc de Bordeaux. Le 9 août, le régent, le Duc d'Orléans, est proclamé « roi des Français» sous le nom de Louis Philippe Ier.
                        </p>
                        <p>
                            Suite à une grave crise économique à partir de 1846, une révolution éclate en 1848. Elle met un terme définitif à la monarchie et permet le retour des Bonapartistes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Le Second empire</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En 1852, dans une réponse au préfet sur « la situation de l'esprit public à Lohr », on apprend que, d'après le sous-préfet, il y a trois partis à Lohr. D'abord celui de Scheuer, apparemment allié, le seul qui sache lire et écrire le français. Il remplit les fonction de greffier (secrétaire de mairie) et dirige de fait la commune. Ensuite, l'ex-maire Dürr et, le troisième, celui de Nicolas Buchi, le fabricant d'allumettes, qui est un sujet à surveiller, un « rouge » notoire qui s'est manifesté pendant la révolution de 1848.                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>1870, L'Annexion</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Fin juillet 1870, la France déclare la guerre à la Prusse. Le dimanche 7 août 1870, à l'aube, des débris du 5e Corps d'Armée passent à La Petite Pierre.
                        </p>
                        <p>
                            Le maire de Lohr interrompt l'office pour demander à l'assemblée des fidèles d'envoyer du ravitaillement aux 1500 militaires affamés qui y font halte.
                        </p>
                        <p>
                            Les Lohrois leur envoient 3 charrettes chargées de pains, d'œufs, de beurre, de lard, de pommes de terre, de fruits et de... Schnaps !
                        </p>
                        <p>
                            Tout le village est en émoi et craint une bataille dans le secteur. Certains se préparent même à partir lorsqu'à une heure de l'après-midi, la nouvelle arrive que les Prussiens sont déjà à Tieffenbach.
                        </p>
                        <p>
                            Deux jours plus tard, le Kronprinz Friedrich Wilhelm établit pendant 3 jours son quartier général à Petersbach. Les princes qui l'accompagnent prennent gîte à Lohr pour trois jours.
                        </p>
                        <p>
                            Les troupes réquisitionnent des chevaux et ce qu'il leur faut pour nourrir hommes et bêtes.
                        </p>
                        <p>
                            Le lendemain, le siège de Phalsbourg débute et, des hauteurs de Bruechel, les Lohrois peuvent voir les départs des coups de canon à 9 kilomètres de distance à vol d'oiseau.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le 18 août, sans attendre l'armistice, Bismarck introduit en Alsace l'administration allemande.
                        </p>
                        <p>
                            Fin août, les Prussiens qui assiègent toujours Phalsbourg passent à Lohr.
                        </p>
                        <p>
                            Ils emmènent les bœufs les plus gras et réquisitionnent pain, farine et lard ainsi que des voitures attelées pour emporter leur butin.
                        </p>
                        <p>
                            En octobre 1879, la nouvelle constitution d'Alsace- Lorraine entre en vigueur. Les provinces annexées sont administrées comme une province prussienne.
                        </p>
                        <p>
                            Comme chaque année, en mars 1884, les jeunes Lohrois ayant l'âge requis pour faire leur service militaire passent devant le conseil de révision à La Petite Pierre, accompagnés du maire.
                        </p>
                        <p>
                            En 1886, un système de passeports avec visas est mis en place, les voyages d'Alsaciens en France et de Français en Alsace sont soumis à une autorisation de la police impériale.
                        </p>
                        <p>
                            En août 1897, les onze Lohrois qui ont atteint l'âge de 17 ans se font inscrire sur les contrôles du Landsturm.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Les jeunes Alsaciens et Mosellans qui font leurs classes dans l'armée prussienne seront (encore) mobilisables de 1914 à 1918 et reçoivent chez eux un ordre d'appel (Einberufungsbefehl) qui leur indique à quelle date ils devront rejoindre tel corps, en général une unité qui est stationnée hors du Reichsland. À la mi-septembre, à la fin des manœuvres d'automne, les Lohrois libérables de la classe 1877 quittent leurs régiments et rentrent chez eux avec des pipes régimentaires, des chopes et autres souvenirs spécialement fabriqués.
                        </p>
                        <p>
                            À partir de 1900, le gouvernement impérial est prêt à consentir plus de libertés aux Alsaciens-Mosellans du Reichsland. Les Alsaciens et Mosellans ayant servi sous le drapeau français en 1870-1871 pourront y prétendre.
                        </p>
                        <p>
                            Beaucoup de soldats passent dans le village à partir de la fin août 1903. En septembre 1904, les manœuvres d'automne battent leur plein et les Lohrois doivent fournir des repas aux hommes de troupe du 9' régiment de Hussards ainsi que du fourrage pour leurs 169 chevaux.
                        </p>
                        <p>
                            En mars 1911, les jeunes Lohrois passent le conseil de révision (Musterung) à la mairie de La Petite Pierre. Le 20 avril 1913, on peut voir passer le dirigeable Zeppelin III.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>La tourmente de la seconde Guerre mondiale</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/guerrecombattants.jpg" alt="combattants guerre">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En novembre 1938, le préfet demande aux communes d'acquérir des masques à gaz. Le conseil municipal se prononce contre cet achat pour des raisons financières mais également car il n'en voit pas l'utilité.
                        </p>
                        <p>
                            La mobilisation générale est décrétée le 1er septembre 1939. Quand les Allemands sont arrivés, en 1940, l'une de leur première préoccupation a été de tout germaniser. Ils passaient dans les maisons et même sur la boîte de sel, ce mot devait être modifié en « Saltz ». ils ne toléraient pas non plus les objets aux couleurs bleu, blanc, rouge.
                        </p>
                        <p>
                            A partir de là, l'Alsace a été considérée comme faisant à nouveau partie intégrante du Reich et les hommes ont été enrôlés dans l'armée allemande sans qu'on leur demande leur avis. Beaucoup ont été envoyés sur le front russe.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Les adultes devaient adhérer à des organisations politiques (NSKK, SA, Landsturm). En cas de refus, ce sont souvent les enfants qui en subissaient les conséquences notamment au niveau des études. Quant aux enfants, dès la sortie de l'école, ils faisaient partie des Hitlerjugend pour les garçons ou des Bund deutscher Madchen (SOM) pour les filles.
                        </p>
                        <p>
                            Des jeunes gens, âgés de 17 à 25 ans, mais à Lohr essentiellement celles et ceux nés en 1923-1924, ont été incorporés de force dans la R.AD. (Reichsarbeitsdienst) à partir de 1941 et envoyés en Allemagne pour travailler dans des fermes ou des usines d'armement durant 5 ou 6 mois, voire plus.
                        </p>
                        <p>
                            On dit encore aujourd'hui « Lohr esch em e loch, se han trever g 'scooss! ». Pour les habitants du village, cette période a été moins dure que pour les citadins car, à la campagne, on trouvait toujours à manger même si, dans chaque maison, des bêtes (Grossvieh) ont été réquisitionnées.
                        </p>
                        <p>
                            En septembre 1944, les Allemands font venir des Schanzer (des hommes valides non incorporés, des femmes et des vieillards) d'un peu partout pour creuser des fossés appelés Panzergraben censés gêner l'avancée des chars des troupes alliées. Les Schanzer étaient nourris et logés chez les habitants des villages où ils travaillaient.
                        </p>
                        <p>
                            En février 1946, le Ministère de la reconstruction et la Direction régionale du matériel de la Xe région ne pouvant dégager de crédit, la commune décide de payer les 594 francs nécessaires à l'enlèvement d'une carcasse de char qui traîne toujours devant la boucherie.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/guerrecombattant.jpg" alt="combattants guerre">
                        <p>
                            En 1958, un monument en grès fabriqué par l'entreprise Dom de Diemeringen à la mémoire des victimes de la seconde guerre mondiale est scellé dans le mur de l'église à côté de celui rappelant le conflit de 14-18. Inauguré le 23 novembre 1958, il a été financé par une collecte dans les foyers de la commune et l'Amicale des Sapeurs- Pompiers (lien).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Après 1946</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            En 1946, la commune emploie 5 personnes : un secrétaire et son adjointe, un appariteur, un garde champêtre (et agent de police), un agent d'entretien pour l'école. Le conseil municipal charge le maire de négocier l'installation d'un tableau d'affichage sur la maison n° 122, l'épicerie Starck.
                        </BR>
                            Le 10 décembre 1948, la Déclaration universelle des droits de l'homme est proclamée.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Histoire du foot</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Plusieurs passionnés des deux villages de Lohr et Ottwiller se sont réunis en mai 1975 pour créer un club de football.
                        </BR>
                            Les Sports Réunis Lohr Ottwiller (SRLO) ont été portés sur les fronts baptismaux le 29 août 1975.
                        </p>
                        <p>
                            Les différents présidents ont été :
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Jean-Pierre Buch</td>
                                <td>mai - juin 1975</td>
                            </tr>
                            <tr>
                                <td>Charles Ott</td>
                                <td>1975 - 1977</td>
                            </tr>
                            <tr>
                                <td>Eugène Schaeffer</td>
                                <td>1977 - 1978</td>
                            </tr>
                            <tr>
                                <td>René Husserr</td>
                                <td>1979 - 1984</td>
                            </tr>
                            <tr>
                                <td>André Jung</td>
                                <td>1984 - 1986</td>
                            </tr>
                            <tr>
                                <td>Christian Mey</td>
                                <td>1986 - 1995</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Installations</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le terrain est situé à l'orée du bois vers Sierwiller et loué par le club à des particuliers ; la buvette consistait en une baraque en bois où il fallait à chaque match transporter les boissons.
                        </BR>
                            Les vestiaires étaient situés initialement dans l'arrière du restaurant à Ottwiller, qui faisait également office de club-house jusqu'à sa fermeture en 1990.
                        </p>
                        <p>
                            La commune de Lohr a mis à disposition du club des vestiaires et la buvette de la salle en 1992. Financièrement, si la fin des années quatre-vingt fut excellente, le début des années quatre-vingt-dix a été difficile avec des comptes négatifs en fin de saison.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Sportivement, de 1986 à 1989, le club comptait 6 équipes avec une équipe féminine et trois équipes jeunes :
                        </p>
                        <p>
                            - Les seniors n'ont jamais dépassé le dernier niveau départemental et il a été difficile à la fin de recruter des joueurs et un entraîneur.
                        </p>
                        <p>
                            - Les féminines ont été championnes d'Alsace de division Honneur en 1987, mais l'équipe s'est arrêtée en 1992 par manque d'effectifs.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Les jeunes ont été la grande satisfaction du club avec des titres de champions de groupe et du Bas-Rhin, de victoires en coupe d'Alsace Bossue et un match de ¼ de finale de coupe contre le Racing Club e Strasbourg devant 300 spectateurs.
                        </p>
                        <p>
                            Le club a été mis en cessation d'activité en juillet 1995 et dissous en juin 1996, et les biens numéraires ont été partagés entre les communes de Lohr et d'Ottwiller pour la réalisation de terrains de jeux destinés aux enfants.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/foot1975.jpg" alt="equipe foot 1975">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/foot1975-2.jpg" alt="equipe foot 1975">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Anecdotes</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le village de Lohr est riche en arbres fruitiers. Autrefois, les Lohroises confectionnaient une marmelade épaisse appelée Schleckel en laissant réduire du jus de poires ou de quetsches dans des chaudrons en cuivre.
                        </p>
                        <p>
                            Cette marmelade épaisse se mangeait souvent le soir avec du pain ou des pommes de terre en robe des champs.
                        </p>
                        <p>
                            On disait d'ailleurs: « Grumbiere mit Schleckel macht emm rode Backel; Schleckel mit Brod, vertreibt alli Not! »
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Comme ils font commerce de cette Schleckel sur les marchés de la région, les Lohrois ont été affublés du sobriquet de Schleckelkramer, marchands de marmelade ou Schleckelhaife (pots de marmelade). On raconte qu'une habitante se rendit un jour au marché de La Petite Pierre pour vendre sa marmelade de quetsches dans laquelle une ménagère découvrit une souris bien cuite !
                        </p>
                        <p>
                            Les gens de Lohr portent encore d'autres surnoms Narre (les fous), Geckelfolk (les dandys) ou Geckler. Ce surnom de Geckler daterait de 1904. Les pompiers Ont été surnommés ainsi en raison de leur goût prononcé pour les uniformes « à la mode ». On dit également à Ottwiller: « Dreckweich wie s'lohrer Krut !»                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Coutumes, traditions et fêtes</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Au XIXe, quand les enfants posent des questions embarrassantes sur leur origine, les parents de Lohr ont coutume de répondre qu'ils ont été apportés à la maison par la sage-femme qui les a pris dans une petite caisse en bois qui flotte sur une certaine source au milieu des champs (de Kindelbrunne). Après 1871, la cigogne porteuse d'enfants (thème d'origine badoise) prendra le relais. En 1870, le 19 novembre, les Lohrois fêtent le « Ernte, Herbst und Dankfest » que l'on pourrait traduire par fête de la moisson. Ils ont pourtant le cœur lourd car ils sont dans l'ignorance du sort de leurs fils sous les armes. En 1880, le pasteur choisit le psaume 147 pour célébrer cette fête des moissons le 21 novembre.
                        </p>
                        <p>
                            Au début du xxe siècle, les Lohroises, comme toutes les femmes des villages alentours, sont expertes en tricotage. Elles se servent souvent d'un porte-aiguille ou affiquet (Strickholz), tourné en bois de prunier, qui leur permet de travailler vite et avec précision, même en bavardant ...
                        </p>
                        <p>
                            Le jeudi Saint (Griendonnersdaj), les mères de famille préparent une purée de légumes qu'elles composent avec sept plantes vertes différentes au choix parmi celles qu'elles peuvent bien trouver en cette saison: choux frisé, poireau, persil, oseille, pousses d'ortie, pissenlit, mâche, ciboulette, etc. Elles attribuent à ce plat « Sewekrittermuës », d'ailleurs délicieux, des vertus purifiantes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

