{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
    Slider Section Start
    ================================================== -->
    <section id="hero-area" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Bienvenue</b>
                                    <b>Willkommen</b>
                                </span><br>
                                <span>sur le site de la commune de LOHR</span>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                            La commune de Lohr se situe au Nord Ouest du département du Bas-Rhin en Alsace Bossue.<br> Elle s'inscrit entre Vosges du Nord et plateau lorrain sur la ligne de partage des eaux.
                        </h2>
                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works">Bienvenue</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->

    <!--
    ==================================================
    About Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h2>
                            LOHR
                        </h2>
                        <p>
                            Avec une histoire et un passé riches, la commune de Lohr saura vous surprendre par sa modernité à travers ses récents investissements dans la vie communale, notamment par la réhabilitation de services de proximité et la création d'un nouveau quartier à la pointe des labels écologiques BBC.
                        </p>
                        <p>
                            La commune est situé à une altitude de 325 mètres dans le parc naturel des Vosges du Nord dans le canton d'ingwiller et s'étend sur 1041 hectares.
                        </br>
                            En 2007 la commune comptait 510 habitants.
                        </p>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/panneau.jpg" alt="Panneau de LOHR">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


    <!--
    ==================================================
    Portfolio Section Start
    ================================================== -->
    <section id="works" class="works">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Agenda</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    Vous retrouverez ici les prochains évenements qui se dérouleront à LOHR.
                </p>
            </div>
            <div class="row">
                {% set delay = 0 %}
                {% for event in events %}
                    {% set delay = delay + 300 %}
                <div class="col-sm-3 col-xs-9">
                    <a href="{{ path('evenementdetail', { 'id': event.id }) }}">
                    <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="{{ delay }}ms">
                        <div class="img-wrapper">
                            <img src="custom/img/colorFont.jpg" class="img-responsive" alt="evenemnts" >
                            <div class="centered">{{ event.nom }}</div>
                        </div>
                        <figcaption>
                            <h4>
                                    {{ event.date| localizeddate('full', 'none') }}
                            </h4>
                        </figcaption>
                    </figure>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> <!-- #works -->
    <!--
==================================================
Portfolio Section Start
================================================== -->
    <section id="feature">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Informations pratiques</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    Retrouvez ici les dernières actus, et autres informations utiles ! <br>
                </p>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <a href="{{ path('conseil') }}">
                    <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-document"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Les délibérations</h4>
                            <p>Les dernières délibération</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <a href="{{ path('actualite') }}">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-speakerphone"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Les actualités</h4>
                            <p>Les dernières actualités</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <a href="{{ path('location') }}">
                        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="ion-beer"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Location de salle</h4>
                                <p>Les infos concernant location de salle</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-12">
                    <a href="{{ path('lotissement') }}">
                        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="ion-home"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Le lotissement</h4>
                                <p>Les infos concernant les terrains à vendre</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> <!-- /#feature -->

{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}