{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Les salles</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">location de salle</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                <p>
                    Au nombre de trois, elles peuvent être louées pour des manifestations diverses : fêtes de famille, réunions, assemblées, conférences.
                    </BR>
                    Responsable : Jean-Louis WILDERMUTH, adjoint
                    </BR>
                    Tel : 03 88 70 27 71,  06 36 82 28 83
                    </p>
                </div>
            </div>
        </div>
        <div class="container"><p>
            <h3>Salle François Zanger</h3>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
{#                        <img src="custom/img/petitesalle.jpg" alt="petite salle polyvalente">#}
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Places</th>
                                <td>70</td>
                            </tr>
                            <tr>
                                <th>Equipements</th>
                                <td>Petite cuisine
                                </BR>
                                    Vaisselle, verres, couverts
                                    </BR>
                                    Machine à café
                                    </BR>
                                    Micro-ondes
                                    </BR>
                                    Lave-vaisselle
                                    </BR>
                                    Plaque électrique
                                    </BR>
                                    Réfrigérateur, congélateur
                                    </BR>
                                    Attention : cet équipement ne permet pas de faire la cuisine sur place.</td>
                            </tr>
                            <tr>
                                <th>Réservations</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Tarifs</th>
                                <td><button type="button"data-toggle="modal" data-target="#modalZangerSalle">Voir les tarifs</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Grande Salle Polyvalente</h3>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/grandesalle.jpg" alt="Grande salle polyvalente">
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Dates</th>
                                <td>De avril à fin septembre ( salle non chauffée)</td>
                            </tr>
                            <tr>
                                <th>Places</th>
                                <td>250 assises
                                    </BR>
                                    estrade pour orchestre</td>
                            </tr>
                            <tr>
                                <th>Equipements</th>
                                <td>Bar avec tireuse à bière
                                    </BR>
                                    vaisselle, verres, couverts
                                    </BR>
                                    Réfrigérateur, congélateur
                                </td>
                            </tr>
                            <tr>
                                <th>Possibilités</th>
                                <td>Possibilité de louer une cuisine adjacente, tout équipée
                                    </BR>
                                    Location en sus
                                    </BR>
                                    consommation électrique en sus
                                </td>
                            </tr>
                            <tr>
                                <th>Réservations</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Tarifs</th>
                                <td><button type="button"data-toggle="modal" data-target="#modalGrandeSalle">Voir les tarifs</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Petite Salle Polyvalente</h3>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/petitesalle.jpg" alt="petite salle polyvalente">
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Places</th>
                                <td>100 assises
                                </BR>
                                    80 pour avoir un espace de danse</td>
                            </tr>
                            <tr>
                                <th>Equipements</th>
                                <td>Bar
                                    </BR>
                                    Vaisselle, verres, couverts
                                    </BR>
                                    réfrigérateur</td>
                            </tr>
                            <tr>
                                <th>Possibilités</th>
                                <td>Possibilité de louer une cuisine tout équipée au niveau -1 avec monte plats
                                    </BR>
                                    Location en sus
                                    </BR>
                                    consommation électrique en sus
                                </td>
                            </tr>
                            <tr>
                                <th>Réservations</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Tarifs</th>
                                <td><button type="button"data-toggle="modal" data-target="#modalPetiteSalle">Voir les tarifs</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->
<section id="feature">
    <div class="container">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="0ms">
                <div class="media-left">
                    <div class="icon">
                        <i class="ion-alert"></i>
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">IMPORTANT</h4>
                    <p>Pour chaque location
                        La location devient effective après la remise d'un chèque de caution de 300 € émis au nom de la commune de Lohr.
                        </BR>
                        Il y a un état des lieux à l'entrée lors de la remise des clés et un autre à la sortie ( maximum 24 heures après la fête).
                        </BR>
                        Pour les moins de 18 ans, la location doit être signée par un des parents au moins.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
</section> <!-- /#feature -->

    <!-- Modal -->
<div id="modalPetiteSalle" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Petite Salle Polyvalente</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Services ou Evenements</th>
                        <th>Usagers de Lohr</th>
                        <th>Usagers Extérieurs</th>
                        <th>Charges</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Apéritifs</td>
                        <td>82€</td>
                        <td>112€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Fête de famille</td>
                        <td>112€</td>
                        <td>142€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>CUISINE</td>
                        <td>50€</td>
                        <td>50€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>COUVERTS</td>
                        <td>Gratuit</td>
                        <td>20€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Location 1 table + 2 bancs</td>
                        <td colspan ="2">2€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ELECTRICITE (par Kw)</td>
                        <td colspan ="2">0.25€</td>
                        <td>Abonnement compris</td>
                    </tr>
                    <tr>
                        <td>Location four à tartes flambées</td>
                        <td>30€</td>
                        <td>-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FETES SCOLAIRES</td>
                        <td>112€</td>
                        <td>-</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Associations Forfait annuel (8h/mois)</td>
                        <td>192€</td>
                        <td>232€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Chèque de caution (restitué si il n'y a pas de dégâts)</td>
                        <td colspan ="2">300€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Casse de vaisselle (après inventaire avec le responsable)</td>
                        <td colspan ="2">1,50€ / pièce</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Autres dégâts sur meubles ou immeubles</td>
                        <td colspan ="2">A voir avec le responsable</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modalGrandeSalle" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Grande Salle Polyvalente</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Services ou Evenements</th>
                        <th>Usagers de Lohr</th>
                        <th>Usagers Extérieurs</th>
                        <th>Charges</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Bal publics, concerts (matinée et soirée)</td>
                        <td>192€</td>
                        <td>262€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Apéritifs, vins d'honneur, réunions, forum</td>
                        <td>102€</td>
                        <td>132€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Fêtes de Famille (mariages,baptêmes, confirmations,rencontres familiales)</td>
                        <td>122€</td>
                        <td>172€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>CUISINE</td>
                        <td>50€</td>
                        <td>50€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>COUVERTS</td>
                        <td>Gratuit</td>
                        <td>20€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Location 1 table + 2 bancs</td>
                        <td colspan ="2">2€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ELECTRICITE (par Kw)</td>
                        <td colspan ="2">0.25€</td>
                        <td>Abonnement compris</td>
                    </tr>
                    <tr>
                        <td>Location four à tartes flambées</td>
                        <td>30€</td>
                        <td>-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FETES SCOLAIRES</td>
                        <td>112€</td>
                        <td>-</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Associations Forfait annuel (8h/mois)</td>
                        <td>192€</td>
                        <td>232€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Chèque de caution (restitué si il n'y a pas de dégâts)</td>
                        <td colspan ="2">300€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Casse de vaisselle (après inventaire avec le responsable)</td>
                        <td colspan ="2">1,50€ / pièce</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Autres dégâts sur meubles ou immeubles</td>
                        <td colspan ="2">A voir avec le responsable</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modalZangerSalle" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Salle François Zanger</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Services ou Evenements</th>
                        <th>Usagers de Lohr</th>
                        <th>Usagers Extérieurs</th>
                        <th>Charges</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Apéritifs, vin d'honneur, réunions, forums</td>
                        <td>142€</td>
                        <td>172€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Fêtes de famille, mariages, baptèmes, confirmations, diverses rencontre familiales</td>
                        <td>172€</td>
                        <td>202€</td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Associationes de LOHR, Forfait annuel</td>
                        <td>262€</td>
                        <td></td>
                        <td>+ Charges nettoyage</td>
                    </tr>
                    <tr>
                        <td>Chèque de caution (restitué si il n'y a pas de dégâts)</td>
                        <td colspan ="2">300€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Casse de vaisselle (après inventaire avec le responsable)</td>
                        <td colspan ="2">1,50€ / pièce</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Autres dégâts sur meubles ou immeubles</td>
                        <td colspan ="2">A voir avec le responsable</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

