{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Le lotissement</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Lotissement</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            LE LOGEMENT À LOHR
                        </h3>
                        <p>
                            L'habitat dans la commune se caractérise essentiellement par des maisons individuelles dont les occupants sont propriétaires. En effet, sur les 229 logements recensés dans la commune en 2006, 195 sont occupés à titre de résidence principale ; seuls 4,4% des résidences principales sont des appartements mais 12,9% des résidences principales sont occupées en location.
                        </p>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            </br>
                            </br>
                            La part des résidences principales construites avant 1949 est importante mais est en régression significative durant la période intercensitaire et passe de 56,1% à 48,5%, témoignant de l'implantation de nouvelles constructions sur le ban communal.
                            Le nombre de pièces par résidence principale est en légère progression entre 1999 et 2006 passant en moyenne de 5,3 à 5,5 pièces par logement.
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            Lotissement « les châtaigners »
                        </h3>
                        <p>
                            L'analyse des données de l'INSEE montre que le développement démographique de la commune de Lohr est directement lié au développement de possibilité de constructions.</br>
                            Aussi, le projet de la commune dans l'élaboration de la présente carte communale concerne prioritairement la poursuite de l'aménagement du lotissement communal "Les Châtaigniers".
                        </p>
                        <h4>
                            1. Historique du projet de lotissement
                        </h4>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">

                        <img src="custom/img/chataigner.jpg" alt="lotissement des chataigners">
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/localchataigner.jpg" alt="local chataigners">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h4>
                            2. Le projet retenu
                        </h4>
                        <p>
                            Le projet propose trois niveaux d'action :
                        </p>
                        <h5>
                            L'action à l'échelle du village :
                        </h5>
                        <p>
                            Les parcelles peuvent être deux fois plus denses que dans un lotissement classique, et permet :
                        </p>
                        <ol>
                            <li>La réduction de moitié des coûts de viabilisation et d'entretien pour la commune.</li>
                            <li>Une réduction des déplacements dans la commune.</li>
                            <li>Une conservation des surfaces affectées à l'agriculture.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/route.jpg" alt="route lohr">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h5>
                            L'action à l'échelle du lotissement :
                        </h5>
                        <ol>
                            <li>La séparation de la voirie piétonne sécurise les déplacements des personnes âgées, enfants, etc.</li>
                            <li>La réduction de largeur de la voirie automobile incite les automobilistes à la prudence, et à ralentir.</li>
                            <li>La plantation et la végétalisation des abords des voiries expriment le caractère multifonctionnel de la rue.</li>
                        </ol>
                        <p>
                            Des aménagements permettent d'assurer une continuité biologique pour la faune et la flore voisine afin d'intégrer au mieux le projet dans le site :
                        </p>
                        <ol>
                            <li>Les espaces publics sont délimités par des haies brise-vent et les parcelles privatives par des haies végétales permettant de maintenir un micro-climat propice au développement de l'avifaune</li>
                            <li>L'animation de l'espace public par des jardins potagers (Krutsteck) et des vergers à la disposition des habitants évite la mono-fonctionnalité des espaces publics uniquement dédiés à la circulation, propres aux lotissements "dortoirs".</li>
                            <li>La délimitation du domaine bâti est assurée par une ceinture de vergers traditionnellement présente dans le paysage des Vosges du Nord</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/verger.jpg" alt="verger">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h5>
                            L'action à l'échelle de la parcelle privée :
                        </h5>
                        <ol>
                            <li>Les parcelles sont orientées au Sud pour bénéficier au maximum des apports solaires.</li>
                            <li>Les façades des bâtiments sont alignées pour éviter les ombres (masques solaires) de l'une sur l'autre.</li>
                            <li>L'orientation optimum des bâtiments et l'absence d'ombrages permet un gain énergétique de 16%.</li>
                            <li>L'accolement des bâtiments permet un gain énergétique de 14%. Les garages sont exclus du volume chauffé des maisons.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h4>
                            3. Les tarifs et les photos
                        </h4>
                        <p>
                            Les parcelles du lotissement "Les châtaigners" sont à vendre au prix de 4 000 € HT
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/lotissement/terrainsport.jpg" alt="terain multisport">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/lotissement/verschataigners.jpg" alt="route chataigners">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/lotissement/verslotissement.jpg" alt="route lotisssement">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

