{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>La mairie</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Mairie</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            LOHR
                        </h3>
                        <p>
                            Avec une histoire et un passé riches, la commune de Lohr saura vous surprendre par sa modernité à travers ses récents investissements dans la vie communale, notamment par la réhabilitation de services de proximité et la création d'un nouveau quartier à la pointe des labels écologiques BBC.
                        </p>
                        <p>
                            La commune est situé à une altitude de 325 mètres dans le parc naturel des Vosges du Nord dans le canton d'ingwiller et s'étend sur 1041 hectares.
                            </br>
                            En 2007 la commune comptait 510 habitants.
                        </p>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/mairie.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            « Pour bien construire son avenir, il ne faut pas oublier le passé.
                        </p>
                        <p>
                            Je crois que ce vieil adage s'applique parfaitement à notre village de LOHR qui s'est beaucoup transformé en cours des trente dernières années, mais qui ne veut pas renier ce qu'il était auparavant. Au niveau du Conseil Municipal, plusieurs d'entre nous ont estimé qu'on arrivait à une période charnière importante, et qu'il fallait profiter de la mémoire précieuse de nos citoyens les plus âgés pour décrire la vie de nos aînés autrefois.
                            </br>
                            Je souhaite à toutes et à tous une bonne lecture de ce recueil d'événements bien choisis qui ont marqué l'histoire de notre Commune.
                        </p>
                        <p>
                            Amicalement,                            </br>
                            F. Gerber                            </br>
                            Maire de Lohr »                            </br>
                        </p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/livre.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                <p>
                    D'après « Lohr, il était une fois , à la source de l'isch, mémoires de vies », 2006, en vente à la mairie ou chez Colette HOFFMANN (03 88 00 66 38) au prix de 39,00€
                </p>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            Bourgmestres, maires et conseils municipaux
                        </h3>
                        <p>
                            Avant la seconde guerre mondiale, la mairie se trouvait au premier étage de l'actuelle école. Durant la guerre , elle a été transférée dans la Lehrerinn Hüsse, place de l'église, avant d'intégrer le rez-de-chaussée de l'école en 1983.                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

