{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>MENTIONS LÉGALE</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Mentions légale</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : www.lohr.alsace les informations suivantes :
                        </p>
                        <h3>1. Informations légales :</h3>
                        <p>
                            Statut du propriétaire : particulier<BR>
                            Le Propriétaire est : David ZIELINGER<BR>
                            Adresse postale du propriétaire : 9, rue de Graufthal 67290 LOHR<BR>
                            <BR>
                            Le Créateur du site est : lohr.alsace<BR>
                            Le Responsable de la  publication est : David ZIELINGER<BR>
                            Contacter le responsable de la publication : mairie@lohr.alsace<BR>
                            Le responsable de la publication est une personne physique<BR>
                            <BR>
                            Le Webmaster est  : David ZIELINGER<BR>
                            Contacter le Webmaster :  mairie@lohr.alsace<BR>
                            L’hebergeur du site est : Obambu 10 RUE DE PENTHIEVRE 75008 PARIS<BR>
                            CREDIT :  Les mentions légales ont étés générées par http://www.generer-mentions-legales.com<BR>
                        </p>
                        <h3>2. Présentation et principe :</h3>
                        <p>
                            Est désigné ci-après : Utilisateur, tout internaute se connectant et utilisant le site susnommé : www.lohr.alsace.
                            Le site www.lohr.alsace regroupe un ensemble de services, dans l’état,  mis à la disposition des utilisateurs. Il est ici précisé que ces derniers doivent rester courtois et faire preuve de bonne foi tant envers les autres utilisateurs qu’envers le webmaster du site www.lohr.alsace. Le site www.lohr.alsace est mis à jour régulièrement par David ZIELINGER.
                            David ZIELINGER s’efforce de fournir sur le site www.lohr.alsace des informations les plus précises possibles (sous réserve de modifications apportées depuis leur mise en ligne), mais ne saurait garantir l’exactitude, la complétude et l’actualité des informations diffusées sur son site, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. En conséquence, l’utilisateur reconnaît utiliser ces informations données (à titre indicatif, non exhaustives et susceptibles d’évoluer) sous sa responsabilité exclusive.
                        </p>
                        <h3>3. Accessibilité :</h3>
                        <p>
                            Le site www.lohr.alsace est par principe accessible aux utilisateurs 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou en cas de force majeure. En cas d’impossibilité d’accès au service, www.lohr.alsace s’engage à faire son maximum afin de rétablir l’accès au service et s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.  N’étant soumis qu’à une obligation de moyen, www.lohr.alsace ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature, résultant d’une indisponibilité du service.
                        </p>
                        <h3>4. Propriété intellectuelle :</h3>
                        <p>
                            David ZIELINGER est propriétaire exclusif de tous les droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, tant sur la structure que sur les textes, images, graphismes, logo, icônes, sons, logiciels…
                            Toute reproduction totale ou partielle du site www.lohr.alsace, représentation, modification, publication, adaptation totale ou partielle de l’un quelconque de ces éléments, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de David ZIELINGER, propriétaire du site à l’email : mairie@lohr.alsace, à défaut elle sera considérée comme constitutive d’une contrefaçon et passible de poursuite conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
                        </p>
                        <h3>5. Liens hypertextes et cookies :</h3>
                        <p>
                            Le site www.lohr.alsace contient un certain nombre de liens hypertextes vers d’autres sites (partenaires, informations …) mis en place avec l’autorisation de David ZIELINGER. Cependant, David ZIELINGER n’a pas la possibilité de vérifier l’ensemble du contenu des sites ainsi visités et décline donc toute responsabilité de ce fait quand aux risques éventuels de contenus illicites.
                            L’utilisateur est informé que lors de ses visites sur le site www.lohr.alsace, un ou des cookies sont susceptibles de s’installer automatiquement sur son ordinateur par l’intermédiaire de son logiciel de navigation. Un cookie est un bloc de données qui ne permet pas d’identifier l’utilisateur, mais qui enregistre des informations relatives à la navigation de celui-ci sur le site.
                            Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de la refuser de la manière décrite à l’adresse suivante : www.cnil.fr. L’utilisateur peut toutefois configurer le navigateur de son ordinateur pour refuser l’installation des cookies, sachant que le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. Pour tout bloquage des cookies, tapez dans votre moteur de recherche : bloquage des cookies sous IE ou firefox et suivez les instructions en fonction de votre version.
                        </p>
                        <h3>6. Protection des biens et des personnes – gestion des données personnelles :</h3>
                        <p>
                            En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.

                            Sur le site www.lohr.alsace, David ZIELINGER ne collecte des informations personnelles ( suivant l’article 4 loi n°78-17 du 06 janvier 1978) relatives à l’utilisateur que pour le besoin de certains services proposés par le site www.lohr.alsace. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du site www.lohr.alsace l’obligation ou non de fournir ces informations.
                            Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles le concernant. Pour l’exercer, adressez votre demande à www.lohr.alsace par email : mairie@lohr.alsace ou par écrit dûment signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.

                            Aucune information personnelle de l’utilisateur du site www.lohr.alsace n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat du site www.lohr.alsace et de ses droits autorise David ZIELINGER à transmettre les dites informations à l’éventuel acquéreur qui serait à son tour tenu à la même obligation de conservation et de modification des données vis à vis de l’utilisateur du site www.lohr.alsace.
                            Le site www.lohr.alsace est déclaré à la CNIL sous le numéro Aucune déclaration CNIL car pas de recueil de données personnelles.

                            Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

