{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!--
    ==================================================
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Le village</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="ion-ios-home"></i>
                                    Accueil
                                </a>
                            </li>
                            <li class="active">Le village</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
    ==================================================
        Contact Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Le village de Lohr est blotti dans une verdoyante cuvette au contact du plateau lorrain et des Vosges. Le Plateau lorrain étend ses molles ondulations vers l'ouest, les pâturages et les champs y dominent. L'isch qui naît en bordure des maisons coule dans la même direction pour aller rejoindre la Sarre. Le massif forestier des Vosges, entaillé de profondes vallées, commence à 500 m à l'est de la localité. Les forêts aux essences de bois multiples font corps avec celles de La Petite-Pierre. Ce sont elles qui attirent les touristes en quête de repos.                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/fontaine.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/charioteglise.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/ruelohr.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Par la montée de Graufthal, chemin forestier carrossable, on descend à travers une futaie de hêtres dans la très pittoresque Vallée du Rehbach, la "Rivière aux Chevreuils", avec ses étangs de pêche et ses genêts d'or.

                            Là se trouve deux écarts de la Commune:
                            L'ancien moulin, dit : "heiligemühle" vers l'amont. Un château de conte de fées, caché au fond du vallon, est venu s'installer à l'emplacement du vieux moulin à grains.
                            La scierie de la Weckenmühle, plus en aval vers Graufthal, a cessé son activité en 1983.                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/moulin.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h3>
                            Les chemins
                        </h3>
                        <p>
                            Les habitants de Schoenbourg étaient réputés pour intenter facilement des procès et se rendre régulièrement au tribunal à La Petite Pierre. Le chemin qu'ils empruntaient et qui passait à travers le Molsbach était surnommé le Prozess Pat.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    </BR>
                    </BR>
                        <p>
                            Autrefois, l'entretien des chemins revêtait une importance capitale et les habitants sont mis à contribution à travers la corvée d'entretien des chemins (Fron). Le conseil municipal fixe le nombre de jours de corvée (Frontage) auquel les habitants sont astreints ainsi que les droits à acquitter pour en être.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Un autre chemin emprunté par les réformés qui se rendaient à Struth, passait par la grange d'une maison aujourd'hui détruite à côté de S'Schulze Hüs. Alors que la route forestière vers Graufthal n'existait pas encore, un Schuelpatt permettait aux enfants de la Weckenmühle et de la Heiligemühle de rejoindre l'école. Ils ne disposaient d'ailleurs, comme les autres enfants, que d'une heure pour rentrer prendre leur repas et revenir à l'école et ce, qu'il pleuve, qu'il vente ou qu'il neige!                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="custom/img/arbrefleuri.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <p>
                            Autrefois, l'entretien des chemins revêtait une importance capitale et les habitants sont mis à contribution à travers la corvée d'entretien des chemins (Fron). Le conseil municipal fixe le nombre de jours de corvée (Frontage) auquel les habitants sont astreints ainsi que les droits à acquitter pour en être.
                        </p>
                        <p>
                            Des chantiers de réfection des routes commencent en juillet-août 1810. En 1825, les marchandises sont acheminées par le Perersbacherweg aux marchés de Bouxwiller et d'Ingwiller et par le Schonbergerweg au marché de Saverne. Le Hallmatterweg est utile et important pour la commune car il est emprunté par les bestiaux que l'on emmène boire à la fontaine dite Saalbrunnen et les Lohroises l'empruntent pour aller laver leur linge.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->


{% endblock %}

{% block footer %}

    {{ parent() }}

{% endblock %}

