<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur le site de la commune de LOHR dans le Bas-Rhin{% endblock %}</title>
        {% block stylesheets %}

            <!-- Template CSS Files
================================================== -->
            <!-- Twitter Bootstrs CSS -->
            <link rel="stylesheet" href="{{ asset('custom/bootstrap/bootstrap.min.css')}}">
            <!-- Ionicons Fonts Css -->
            <link rel="stylesheet" href="{{ asset('custom/ionicons/ionicons.min.css')}}">
            <!-- animate css -->
            <link rel="stylesheet" href="{{ asset('custom/animate-css/animate.css')}}">
            <!-- Hero area slider css-->
            <link rel="stylesheet" href="{{ asset('custom/slider/slider.css')}}">
            <!-- owl craousel css -->
            <link rel="stylesheet" href="{{ asset('custom/owl-carousel/owl.carousel.css')}}">
            <link rel="stylesheet" href="{{ asset('custom/owl-carousel/owl.theme.css')}}">
            <!-- Fancybox -->
            <link rel="stylesheet" href="{{ asset('custom/facncybox/jquery.fancybox.css')}}">
            <!-- template main css file -->
            <link rel="stylesheet" href="{{ asset('custom/style.css')}}">

        {% endblock %}
        {% block head %}
            <meta name="Content-Type" content="UTF-8">
            <meta name="Content-Language" content="fr">
            <meta name="Description" content="Bienvenue sur le site officiel de la commune de LOHR située dans le département du Bas-Rhin dans la région Alsace.">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
            <header id="top-bar" class="navbar-fixed-top animated-header">
                <div class="container">
                    <div class="navbar-header">
                        <!-- responsive nav button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- /responsive nav button -->
                        <!-- logo -->
                        <div class="navbar-brand">
                            <a href="/" >
                                <img src="{{ asset('custom/img/logo.png')}}" alt="logo de lohr">
                            </a>
                        </div>
                        <!-- /logo -->
                    </div>
                    <!-- main menu -->
                    <nav class="collapse navbar-collapse navbar-right" role="navigation">
                        <div class="main-menu">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/" >Accueil</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">La commune <span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li><a href={{ asset('mairie')}}>Mairie</a></li>
                                            <li><a href={{ asset('conseil')}}>Conseil municipal</a></li>
                                            <li><a href={{ asset('actualite')}}>Actualités</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vie communale <span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li><a href={{ asset('eglise')}}>L'église</a></li>
                                            <li><a href={{ asset('bibliotheque')}}>La bibliothèque</a></li>
                                            <li><a href={{ asset('ecole')}}>Ecole et périscolaire</a></li>
                                            <li><a href={{ asset('associations')}}>Associations</a></li>
                                            <li><a href={{ asset('location')}}>Location de salle</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Culture <span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li><a href={{ asset('village')}}>Le village</a></li>
                                            <li><a href={{ asset('architecture')}}>Architecture</a></li>
                                            <li><a href={{ asset('histoire')}}>Histoire</a></li>
                                            <li><a href={{ asset('geographie')}}>Géographie</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logement <span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li><a href="lotissement">Lotissement</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- /main nav -->
                </div>
            </header>
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}

        {% block footer %}

            <!--
==================================================
Footer Section Start
================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-4">
                        <p> Mairie de Lohr <br>
                            1 rue Principale <br>
                            67290 LOHR
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p> Tél. 03.88.00.62.72<br>
                            Mail : mairie@lohr.alsace
                        </p>
                        <a id="mention" href={{ asset('mentionlegal')}}>Mentions légales</a>
                    </div>
                    <div class="col-md-4">
                        <a class="weatherwidget-io" href="https://forecast7.com/fr/48d867d24/lohr/" data-label_1="LOHR" data-label_2="Metéo" data-mode="Forecast" data-days="3" data-theme="gray" >LOHR Metéo</a>
                    </div>
                </div>
            </footer> <!-- /#footer -->

        {% endblock %}
        {% block javascripts %}

            <!-- Template Javascript Files
================================================== -->
            <!-- jquery -->
            <script src="{{ asset('custom/jQurey/jquery.min.js')}}"></script>
            <!-- Form Validation -->
            <script src="{{ asset('custom/form-validation/jquery.form.js')}}"></script>
            <script src="{{ asset('custom/form-validation/jquery.validate.min.js')}}"></script>
            <!-- owl carouserl js -->
            <script src="{{ asset('custom/owl-carousel/owl.carousel.min.js')}}"></script>
            <!-- bootstrap js -->
            <script src="{{ asset('custom/bootstrap/bootstrap.min.js')}}"></script>
            <!-- wow js -->
            <script src="{{ asset('custom/wow-js/wow.min.js')}}"></script>
            <!-- slider js -->
            <script src="{{ asset('custom/slider/slider.js')}}"></script>
            <!-- Fancybox -->
            <script src="{{ asset('custom/facncybox/jquery.fancybox.js')}}"></script>
            <!-- template main js -->
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
            <script src='https://www.google.com/recaptcha/api.js'></script>
        {% endblock %}
    </body>
</html>
